:root {
	--font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	--nelson-left: #f2709c;					/* color set */
	--nelson-right: #ff9472;
	--siriusTamed-left: #EFEFBB;
	--siriusTamed-right: #D4D3DD;
	--aLostMemory-left: #DE6262;
	--aLostMemory-right: #FFB88C;
	--calmDarya-left: #5f2c82;
	--calmDarya-right: #49a09d;
	--stellar-left: #7474BF;
	--stellar-right: #348AC7;
	--moonrise-left: #DAE2F8;
	--moonrise-right: #D6A4A4;
	--almost-left: #ddd6f3;
	--almost-right: #faaca8;
	--dirtyFog-left: #B993D6;
	--dirtyFog-right: #8CA6DB;
	--piglet-left: #ee9ca7;
	--piglet-right: #ffdde1;
	--azurLane-left: #7F7FD5;
	--azurLane-mid: #86A8E7;
	--azurLane-right: #91EAE4;
	--anamnisar-left: #9796f0;
	--anamnisar-right: #fbc7d4;
	--quepal-left: #11998e;
	--quepal-right: #38ef7d;
	--mojito-left: #1D976C;
	--mojito-right: #93F9B9;
	--blueSkies-left: #56ccf2;
	--blueSkies-right: #2f80ed;

	--header: rgb(133, 75, 109);
}


html {
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(to bottom right,  var(--almost-left), var(--almost-right));
	background-attachment: fixed;
}

header {
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
	color: var(--header);
	font-size: 50px;
	font-weight: 100;
	padding: 20px;

}


input[type=checkbox]{
	transform: scale(1.3);
	padding: 10px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}

label {
	cursor: pointer;
	margin: auto;
	margin-right: 10px;
	font-size: 12px;
	-webkit-text-stroke-width: thin;
}

table {
	padding: 10px;
	margin: 10px;
	font-family: var(--font-family);
	border: 1px solid var(--header); 
}

button {
	margin: 10px;
	font-size: 12px;
	background-color: white;
	/* color: var(--header); */
	border: 1px solid rgba(131, 131, 131, 0.603);
	padding: 5px;
	transition: all 0.2s ease-in-out;
}

button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 7px rgba(163, 163, 163, 0.45);
	transform: translate(-1px, -1px);
}

a {
	word-break: break-all;
	
}

#container {
	border: 0.5px solid rgb(172, 172, 172);
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 85%;
	margin: auto;
	border-radius: 20px;
	padding: 10px;
	background-color: white;
	box-shadow: 1px 1px 20px rgba(133, 75, 109, 0.3);
	
}

#help-window {
	display: none;
	z-index: 999;
	position: absolute;
	top: 29%;
	max-width: 500px;
	font-size: 10px;
	background-color: white;
	border-radius: 15px;
	color: rgb(107, 107, 107);
	opacity: 90%;
	box-shadow: 1px 1px 20px rgba(133, 75, 109, 0.4);
}

#detail {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 30%;
	left: 30%;
	margin: auto;
	width: 40%;
	background-image: radial-gradient(circle at 25% 30%, rgb(212, 212, 255) 0%, rgb(214, 237, 255) 60%);

	background-attachment: fixed;
	z-index: 998;
	padding: 10px;
	border-radius: 15px;
	border: 1px dashed rgb(112, 132, 231);
	box-shadow: 1px 1px 20px rgba(75, 78, 133, 0.4);
}

#delete-selected-banner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 85%;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 20px;
	padding: 5px;
}

#waiting-window {
	position: fixed;
	top: 50%;
	left: 30%;
	margin: auto;
	width: 40%;
	z-index: 999;
	padding: 10px;
	border-radius: 5px;
	border: 1px dashed rgb(108, 108, 92);
	color: var(--header);
	text-align: center;
}


.help {
	width: 15px;
	height: 14px;
	font-size: 10.5px;
	font-family: var(--font-family);
	border-radius: 50%;
	color: rgba(128, 128, 128, 0.7);
	font-weight: bolder;
	border: 1.3px solid rgba(128, 128, 128, 0.7);
	margin: auto;
	z-index: 999;
}

.help:hover {
	cursor: pointer;
}

.done-btn {
	border-radius: 5px;
	background-color: white;
	color: rgba(133, 75, 109);
	border: 1px solid rgba(133, 75, 109, 0);
	padding: 10px;
	display: none;
}

.waiting-bg {
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(44, 44, 44, 0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	transition: all linear 0.5s;
}

.delete-all-opt {
	margin-top: auto;
	margin-bottom: auto;
}

.item {
	flex-direction: row;
	justify-content: start;
	font-family: var(--font-family);
	color: rgb(108, 108, 92);
	font-size: 12px;
	margin: auto;
}

.item .link {
	width: inherit;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	margin: auto;
	border-radius: 12px;
	transition: box-shadow 0.3s ease-in;
}

.link:hover, .link:focus{
	cursor: pointer;
	box-shadow: 3px 2px 7px rgba(156, 156, 156);

}

.link:active {
	box-shadow: inset 0px 2px 7px 0px rgba(198, 198, 198);
	transform: translate(1px, 1px);
}

.folder {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: var(--font-family);
	color: rgb(108, 108, 92);
}

.folder .title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	font-size: 14px;
	font-weight: 550;
	color: var(--header);
	
}

.folder .title .text:hover {
	font-size: 15.5px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.top-banner {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
	font-size: 15px;
	font-family: var(--font-family);
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	width: -webkit-fill-available;
}

.top-banner .title {
	padding: 10px;
	width: 80%;
	font-weight: bold;
	color: var(--header);
}

.top-banner .close-btn {
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 15px;
	text-align: center;
}

.top-banner .close-btn:hover {
	cursor: pointer;
	text-shadow: 2px 2px 3px var(--header);
	transition: text-shadow 0.1s ease-out;
}


.top-banner .close-btn:active {
	transform: translate(1px, 1px);
	text-shadow: none;
}

.delete-options {
	font-family: var(--font-family);
	flex-direction: row;
	flex-wrap: wrap;
}

.delete-opt {
	flex-direction: row;
	padding: 5px;
}

.detail-title {
	width: 20%;
}
