:root {
	--font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
	background-color: rgb(134, 142, 252);
	background-image: linear-gradient(to bottom right,  rgb(221, 209, 189), rgb(125, 158, 205));
	background-attachment: fixed;
}

header {
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
	color: rgb(133, 75, 109);
	font-size: 50px;
	font-weight: 100;
	padding: 20px;

}


input[type=checkbox]{
	transform: scale(1.3);
	padding: 10px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}

label {
	cursor: pointer;
	margin: auto;
	margin-right: 10px;
	font-size: 12px;
}

table {
	padding: 10px;
	margin: 10px;
	font-family: var(--font-family);
	border: 1px solid rgb(133, 75, 109); 
}

button {
	margin: 10px;
	font-size: 12px;
	border: 1px solid gray;
	padding: 5px;
	/* background-color: white; */
	transition: box-shadow 0.2s ease-in-out;
}

button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 7px rgba(163, 163, 163, 0.45);
	
	
}

a {
	word-break: break-all;
	
}

#container {
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 85%;
	margin: auto;
	border-radius: 25px;
	padding: 10px;
	background-color: white;
}

#detail {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 30%;
	left: 30%;
	margin: auto;
	width: 40%;
	/* background-color: rgb(219, 238, 244); */
	background-image:  radial-gradient(circle at 35% 30%, rgb(245, 222, 222), rgb(218, 206, 245));
	background-attachment: fixed;
	z-index: 999;
	padding: 10px;
	border-radius: 15px;
	border: 1px dashed rgb(233, 92, 174);
	box-shadow: 1px 1px 20px  rgba(133, 75, 109, 0.4);
}

#delete-selected-banner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 85%;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
}

.delete-all-opt {
	margin-top: auto;
	margin-bottom: auto;
}

.item {
	flex-direction: row;
	justify-content: start;
	font-family: var(--font-family);
	color: rgb(108, 108, 92);
	font-size: 12px;
	margin: auto;
}

.item .link {
	width: inherit;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	margin: auto;
	border-radius: 12px;
	transition: box-shadow 0.3s ease-in-out;
}

.link:hover, .link:focus{
	cursor: pointer;
	box-shadow: 3px 2px 7px rgba(156, 156, 156);

}

.link:active {
	box-shadow: inset 0px 2px 7px 0px rgba(198, 198, 198);
	transition: box-shadow 0.2s ease-in-out;
}

.folder {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: var(--font-family);
	color: rgb(108, 108, 92);
}

.folder .title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	font-size: 14px;
	font-weight: bold;
	color: rgb(133, 75, 109)
	
}

.folder .title .text:hover {
	font-size: 15.5px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.top-banner {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
	font-size: 15px;
	font-family: var(--font-family);
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px;
	width: -webkit-fill-available;
}

.top-banner .title {
	padding: 10px;
	width: 80%;
	font-weight: bold;
	color: rgb(133, 75, 109);
}

.top-banner .close-btn {
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 15px;
	text-align: center;
}

.top-banner .close-btn:hover {
	cursor: pointer;
	text-shadow: 2px 2px 3px rgb(133, 75, 109);
	transition: text-shadow 0.1s ease-out;
}


.top-banner .close-btn:active {
	transform: translate(1px, 1px);
	text-shadow: none;
}

.delete-options {
	font-family: var(--font-family);
	flex-direction: row;
	flex-wrap: wrap;
	/* width: -webkit-fill-available; */
}

.delete-opt {
	flex-direction: row;
	padding: 5px;
	
}

.detail-title {
	width: 20%;
}